<%- include('../partials/header') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
            <div class="card shadow">
                <div class="card-body p-5">
                    <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" class="img-fluid" alt="Wallpaper">
                    <div class="lead my-3 d-flex align-items-center fw-semibold justify-content-between text-secondary flex-wrap gap-2">
                        <div>Author: Omar Hajjaji</div>
                        <div>Created: 12-10.22</div>
                    </div>
                    <h1 class="text-secondary fw-bold">
                        Wallpaper
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nobis ea eius in hic, animi quaerat rem porro labore expedita
                        velit sunt repellendus officiis eaque dicta reiciendis dolorum
                        facilis ullam sapiente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>